@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
     font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.text-dys{
    color:#0AA6F0;
}


.special-span{
    background-color: #A1EBFF;
    border-bottom: 3px solid #00C9FF;
    padding: 6px;
    border-radius: 8px;
}